*,
*::after,
*::before {
    margin : 0;
    padding: 0;
    box-sizing: inherit; /*inherit here specify in body*/
}

html {
    /* font-size: 10px;easy to calculate rem with 10 but bad practice to write pixel values since it 
    cant be modified on browser side */
    font-size: 62.5%;/*100 * (10/16)*/ /*this defines what 1rem is*/
}

body {
    box-sizing: border-box;
}